[2016-09-21 22:46] skovhus opened #6 "AVA to Jest codemod"
## TODO
Unsupported, make warning
- [x] chaining test.serial.only for hooks
- [x] test.todo(title)
- [x] test.failing([title], implementation)
- [x] t.plan

Remap
- [x] test.serial([title], implementation) *remove serial (all tests are serial)*
- [x] test.cb([title], implementation) *remove cb (all tests are callback style by default)*
- [x] test.only([title], implementation) *fit*
- [x] test.skip

[2016-09-24 22:56] #6 closed

[2016-09-30 19:07] xjamundx opened #8 "Issue with AVA codemod"
Out of 21 tests I got this error 3 times:

[code]
It's confused by this fairly confusing code (simplified here of course):

[code]

[2016-09-30 19:08] xjamundx commented on #8
No need to fix it for me or anything, but just a heads up.

[2016-09-30 19:10] xjamundx commented on #8
It turns it fails even without the promise

[code]

[2016-09-30 19:45] skovhus commented on #8
Thank you so much for sharing the code examples here. I'll look into a fix.

Did it work for you on the rest of the codebase?

[2016-09-30 19:48] skovhus opened #9 "Preserve comments"
The codemod can sometimes eat valuable comments like `/* eslint: ... */`. It shouldn't do that.

[2016-09-30 20:54] xjamundx commented on #8
There were some issues, so like the default paths don't work. The only seem to work when I type them from the command line. `jest-codemods public/js/**/__tests__/*.js` works by not running `jest-codesmods` without a path (even if I type the path during the command step), and I assume that's something to do with how you process paths vs. how the OS does it for you. Anyway, not a big deal.

Also had

[2016-09-30 22:37] skovhus commented on #8
Thank you for sharing.

Based on your example I found some issues with how t properties were parsed. It should now be more stable now. And also handle AVA `t.same` and other deprecated AVA properties that I overlooked. fd5e

Can you give 0.2.4 a spin?

As for the problem with global installment, which version did you try? Maybe you can try out 0.2.4 and see if you have the same problem.

Thanks!

[2016-09-30 23:23] skovhus commented on #8
Version 0.2.5 should fix your issue with globs not working when not providing a path.

[2016-09-30 23:31] xjamundx commented on #8
awesome! trying them now

On Fri, Sep 30, 2016 at 4:23 PM, Kenneth Skovhus <notifications@github.com>
wrote:

[2016-09-30 23:35] skovhus commented on #8
There is still some issues with not removing `t` for the case where you are passing it to a function.

Example:
[code]

Currently converts to
[code]

Notice that `t` is undefined. It should either be removed or replaced with Jasmines `done` function.

[2016-09-30 23:51] xjamundx commented on #8
cool, this is more than enough to get us started thanks!

[2016-09-30 23:51] #8 closed

[2016-10-02 11:16] #9 closed

[2016-10-02 11:31] skovhus commented on #8
@xjamundx let me know if you find other bugs. : )

[2016-10-08 14:31] skovhus opened #10 "Proxyquire transformation"
It should be possible to transform Proxyquire mocks to Jest mocks.

[2016-10-08 14:32] skovhus opened #11 "Keep async keywords"
Currently the async keyword might be lost in the transformation. Ensure that this doesn't happen...

[2016-10-09 20:13] #11 closed

[2016-10-26 20:31] #10 closed

[2016-11-20 20:03] browniefed opened #13 "t.plan => expect.assertions"
https://github.com/facebook/jest/pull/2133 this will hopefully land soon, and that means `t.plan` will be supported as `expect.assertions`

[2016-11-20 21:12] skovhus commented on #13
Thanks for highlighting this! : )

[2016-11-29 17:36] browniefed commented on #13
It landed this morning. Never done any codemod work but I'll add the mod later this week.

[2016-11-29 18:26] skovhus commented on #13
Thanks. It is fun! ; )

[2016-12-04 08:50] skovhus opened #16 "Mocha"
@paularmstrong started integrating https://github.com/paularmstrong/mocha-to-jest-codemod into jest-codemods. This adds transformation of Mocha and Chai asserts. Great stuff!

There are a few thing to be done
- [x] Integration (Paul is on it)
- [x] Update README + package.json
- [x] Update migration guide in the facebook/jest repo (https://github.com/facebook/jest/pull/2232)
- [x] ~~keep track of

[2016-12-04 20:27] paularmstrong commented on #16
You'll get warnings for those in #17

[2016-12-06 21:31] #16 closed

[2016-12-06 21:33] skovhus commented on #13
Let me know if you need any help or pointers.

[2016-12-06 21:51] browniefed commented on #13
Ah, still planning on this, just got held up on some stuff. Throwing it on my todo list

[2016-12-06 21:52] skovhus commented on #13
Not to stress you. Take your time. 😊

[2016-12-08 16:15] tschaub opened #20 "assert.isFalse(foo) transformed to expect(foo).toBe()"
I have `example.js` with the following:

[code]

After running `jest-codemods example.js`, it looks like this:

[code]

Where before no error would be thrown, after the change, Jest fails with this:

[code]

[2016-12-08 20:24] skovhus commented on #20
Thanks for reporting this! And fixing it. I'll have a look.

[2016-12-08 23:10] skovhus commented on #20
Released as 0.5.1 (thanks again for reporting this!)

Let me know if it doesn't work for you.

[2016-12-08 23:10] #20 closed

[2016-12-10 17:13] AugustinLF opened #23 "Destructuring of t (for tape)"
I wrote all my tests by destructuring the t parameter of tape test function:
[code]
This style doesn't work with this codemod, however, if you're interested, I'd gladly work on a PR!

Edit: After looking a bit at the source, the easiest way would be to first transform "my style" to the conventional one you expect. And this could go to the ava/tape helper file, since it seems that ava works the sam

[2016-12-10 22:21] skovhus commented on #23
Never seen that pattern before, but of course completely valid way of doing it. : )

You are more than welcome! 👍

Yes, I think converting this early to a single value `t` and changing all arguments that are destructured to be prefixed with `t.` should be a good initial modification to the AST.

Same thing for AVA yes.

Let me know if you need any help.

If you haven't worked with codemods before

[2016-12-11 14:10] AugustinLF commented on #23
That's a lovely way to anwser issues! I worked a bit with jscodeshift, I hope I'll be able to make it work, I'll let you know!

[2016-12-11 14:58] skovhus commented on #23
Thanks! 😄

[2016-12-13 10:18] #23 closed

[2016-12-13 10:22] skovhus commented on #23
Published as 0.6.0. Thanks for contributing @AugustinLF 🤗

[2016-12-15 19:19] #13 closed

[2016-12-15 19:22] skovhus commented on #13
Thanks for contributing @browniefed ! Release as 0.7.0

[2016-12-16 23:38] ahutchings opened #26 "Ava to Jest: "ReferenceError: before is not defined""
After running jest-codemods on my Ava tests, I'm seeing exceptions: "ReferenceError: before is not defined". The stack trace is pointing to where `test.before` was transformed to `before`. Should `test.before` be transformed to `beforeAll`?

**Input**
[code]

**Output**
[code]

[2016-12-16 23:56] ahutchings opened #27 "Ava's test.throws accepts Promise value"
When Ava's `test.throws` is used with a Promise value, it cannot be transformed directly to a Jest `.toThrowError` call, since the latter does not support Promise values.

@ksa any ideas on what can be done here? facebook/jest#1377 looks like it might be related.

[2016-12-17 08:54] skovhus commented on #26
Thanks for reporting. Yes, that look like a bug. It should be beforeAll. 👍

Not sure if Jest previously had 'before' as an alias to 'beforeAll' or why this haven't been discovered before.

[2016-12-17 08:59] skovhus commented on #27
Thanks for reporting. I overlooked that missing feature... We cannot reliably detect if an argument is a promise, so I'm not sure what the right solution is.

After the transformation, which error do you get from Jest?

[2016-12-17 09:00] skovhus commented on #27
@jpojer any suggestions?

[2016-12-17 21:54] cpojer commented on #27
nothing yet beyond the last few suggestions in the issue mentioned above.

[2016-12-19 09:29] #26 closed

[2016-12-22 18:39] spudly opened #29 "Fails when proxyquire identifier used but not as a function"
In my old tests, there are a lot of palces where `proxyquire.noCallThru()` is called (once per test usually), but this causes an exception in jest-codemods (switching from ava to jest).

[code]

I poked around the code a little bit and it seems that this happens because the proxyquire util expects the proxyquire variable to be used only as a function. In this case, it's not used as a function and

[2016-12-23 10:41] skovhus commented on #29
Thanks for reporting this. I'll have a look at fixing this.

Can you give me a snall code example and maybe what you expect the transformed output to look like?

[2016-12-23 19:59] spudly commented on #29
In the transformed code, the call to `noCallThru` should simply be removed. It has no equivalent in jest and is not needed. I would expect some (very basic) code with proxyquire to be transformed as follows:

Before:
[code]

After:
[code]

[2016-12-23 20:02] skovhus commented on #29
Thanks! 👍

[2016-12-23 23:57] #29 closed

[2016-12-24 00:03] skovhus commented on #29
Bug fix released as 0.7.2

[2017-01-23 13:29] raduanastases opened #30 "Could I expect anytime soon a chai-expect transformer?"

[2017-01-23 18:41] paularmstrong commented on #30
You could open a PR based on this! https://github.com/AlexJuarez/chai-to-jasmine/issues/1

[2017-02-13 21:21] montogeek opened #32 "Specify transformer"
Would you accept a PR that adds the possibility to specify the transformer, something like:
`jest-codemods path -f -t=mocha`?

[2017-02-13 23:03] skovhus commented on #32
Currently we just run all of them, which should be fine as we detect import statements for tape/Ava.

But if you have a use case for specifying the transformer I'm open to that. : )

Remember that there might be addition transformer options, like chai assertions etc.

[2017-02-21 21:15] Vanuan opened #33 "Mocha: done to promise transform"
In mocha it is possible to write this:

[code]

Jasmine requires a promise to be returned. Is it possible to rewrite this to the following:

beforeAll(() => {
  let promise = new Promise((resolve, reject) => {
    resolve();
  });
  return promise;
});

[2017-02-21 23:01] Vanuan opened #34 "Mocha: before description removal"
In mocha this is a valid before hook:

[code]

In jasmine this fails with the error:

[code]

I.e. transformer should remove descriptions from before/after hooks.

[2017-02-22 15:24] skovhus commented on #33
Thanks for reporting this! Feel free to submit a pull request, maybe you want to give it a try? : )

[2017-02-22 15:25] skovhus commented on #34
Thanks for reporting this! Feel free to submit a pull request, maybe you want to give it a try? : )

[2017-02-22 15:26] Vanuan commented on #33
No, I'll use manual labor for now

[2017-03-15 22:26] #34 closed

[2017-03-23 00:35] DannyDelott opened #41 "Cannot npm install jest-codemods"
[code]

[2017-03-23 06:35] skovhus commented on #41
@DannyDelott  Thanks for reporting this! Fixed in `0.8.1`. Let me know if it works for you.

Seems I should stop using `yarn publish` instead of plain old `npm publish`. Tried that for version 0.8.0, but the bin file was missing.

[2017-04-14 19:04] #41 closed

[2017-04-14 19:05] skovhus commented on #30
Released in 0.9.0! 🍔 🍟

@raduanastases let me know if it works for you!

[2017-04-14 19:05] #30 closed

[2017-04-17 21:26] skovhus commented on #32
On the other hand, you can just run `jscodeshift` directly as mentioned here:
https://github.com/skovhus/jest-codemods#usage-jscodeshift

[2017-04-18 08:00] yvele opened #47 "Should Syntax Parsing Error: Cannot read property 'name' of undefined"
First of all, than you sooooo much for the Should Syntax implementation 😁

I'm using jest-codemods v0.9.1 and I have the following error:

[code]

With a `console.log(calee)` in file `chai-should.js` line `139`:

[code]

Seems it's failing parsing this:

[code]

I just had to manually migrate those lines (by commenting + manual replace)..

[code]

Everything else seems working fine..

[2017-04-18 08:08] yvele opened #48 "Should Syntax does not remove extra parenthesis"
This line:

[code]

is transformed into:

[code]

but should be

[code]

PS: As a dirty workaround I just replace `)();` with `);`

[2017-04-18 08:14] yvele opened #49 "Should Syntax does not handle should.throws with a regex"
This line:

[code]

is transformed into:

[code]

but should be

[code]

PS: As a dirty workaround I just replace `).throws(/^Error: ` with `).toThrowError(/^`

[2017-04-18 08:21] skovhus commented on #47
Thanks for reporting this!

[2017-04-18 08:21] skovhus commented on #48
Thanks for reporting this!

[2017-04-18 17:08] skovhus commented on #49
I get that `should.throws(foo` should be converted to `expect(foo).toThrowError(`, but I don't see why "Error:" should be removed.

I don't see this behaviour documented in chai or in their source code... Do you have a link?

http://chaijs.com/api/assert/ is the closets I get. :)

[2017-04-18 17:13] skovhus commented on #49
And is `should.throws` supported with the `s`? In the docs it seems only `should.throw` is.

[2017-04-18 19:51] skovhus commented on #47
@yvele I've haven't seen `should(foo).be...` syntax before. Usually `should` is added to all objects. So you do `foo.should.be`.

Where have you seen that `should` can be used as a function? Do you have a link to documentation? : )

[2017-04-18 19:52] #48 closed

[2017-04-18 19:53] skovhus commented on #48
Fix released as `jest-codemods@0.9.2`

[2017-04-18 21:30] yvele commented on #47
@skovhus `undefined` (and `null`) doesn't inherit `Object` and have the `should` getter, that's why we have to:

[code]

Sources:
 - http://chaijs.com/guide/styles/#should-extras
 - http://stackoverflow.com/a/30596661/1480391
 - https://github.com/chaijs/chai/issues/90#issuecomment-7263749
 - http://stackoverflow.com/a/18102951/1480391

[2017-04-18 21:35] yvele commented on #49
@skovhus Yep I it's with a `s` in the documentation https://shouldjs.github.io/#should-throws

[2017-04-18 21:48] yvele commented on #49
Hum about the `Error: ` part I don't know.. that's really strange..

[should implementation](https://github.com/shouldjs/should.js/blob/5091f9c091a5df30ebc72c7c20af80b37e229bae/lib/ext/error.js#L65) looks the same as [jest implementation](https://github.com/facebook/jest/blob/5f72d73929980cedfaec58b7445210f87f233305/packages/jest-matchers/src/toThrowMatchers.js#L106)... hum.

[2017-04-19 06:06] skovhus commented on #47
Should.js is actually not chai should. They have different assertions it seems. chai should is required from the Chai packages, that is why imports of should is not removed.

https://github.com/shouldjs/should.js/blob/master/Readme.md

[2017-04-19 06:10] skovhus commented on #49
Should.js is actually not chai should. They have different assertions... But I'm happy that it almost worked for you. : )

The challenge is that a lot of people are not importing chai in their test files, but using mocha to set it up. So we cannot really know if the user actually uses chai should (or a similar library as should.js).

I think I will insert a warning if should.js is imported/require

[2017-04-19 06:11] skovhus commented on #49
Let me know if I can improve the CLI or Readme to make it clear that chai should === should.js

[2017-04-19 06:37] skovhus opened #51 "should.js transformation"
Recently Chai should (https://github.com/chaijs/chai) transformation was added. The semantics is very close to should.js (https://github.com/tj/should.js/), so we can make official support for transforming should.js assertions to Jest.

See #49 #47

[2017-04-19 07:55] tarjei opened #53 "Add codemode for importing sinon"
I do not have time to write a PR but you might want to add something like this:
[code]

[2017-04-19 23:12] #51 closed

[2017-04-19 23:20] skovhus commented on #49
(Official) Should.js support released as 0.10.0. Let me know if it works for you. :)

[2017-04-19 23:20] #49 closed

[2017-04-19 23:20] skovhus commented on #47
(Official) Should.js support released as 0.10.0. Let me know if it works for you. :)

[2017-04-19 23:20] #47 closed

[2017-04-29 21:00] skovhus commented on #53
Thanks for sharing this! Looks good.

But as jest-codemods is about migrating from assertion libraries or test runners to Jest, I don't really see how this codemod fits in. A codemod to replace sinon with plain jest-mock might be interesting, though.

Let me know if I misunderstood or if you have other ideas of how to improve jest-codemods.

[2017-04-29 21:00] #53 closed

[2017-04-29 21:03] skovhus commented on #32
Feel free to propose a PR at a later point if you still want/need this.

Thanks. : )

[2017-04-29 21:03] #32 closed

[2017-04-30 09:36] tarjei commented on #53
Quick answer from my phone here:)

If you're migrating a large codebase then this is a good stopgap before
going all in on jest.

lør. 29. apr. 2017 kl. 23.00 skrev Kenneth Skovhus <notifications@github.com

--
__________________
Tarjei Huse
Mobil: 920 63 413

[2017-05-05 08:21] yvele commented on #47
@skovhus Hey.. I've being using 0.10.0 and I'm happy with it (nice should implementation)... but I still have problems with

[code]

Here are the full error logs:

[code]

[2017-05-05 08:32] skovhus commented on #47
Can you create a github issue? That would help me. Thanks for reporting!

[2017-05-21 23:16] pornel opened #55 "Mocha migration does not rename files"
I would expect migration to make files "seen" by jest. I have tests in `test/footest.js`, but AFAIK jest expects `test/foo.test.js`.

[code]

[code]

[2017-05-21 23:31] pornel opened #56 "Mocha migration this.timeout and this.slow"
Mocha allows configuration of test timeout and warning about test slowness. These functions are not migrated, causing runtime errors in jest:

[code]

[2017-05-23 13:04] skovhus opened #57 "Codemod this keyword usage"
Newer versions of Jest doesn't support using `this` inside hooks (e.g. `beforeEach`). Instead variables defined outside the scope can achieve the same.

Although this project is mainly moving from other test runners and assertion libraries to Jest, we might be able to help people here...

Background https://github.com/facebook/jest/issues/3628#issuecomment-303339343

FYI @thymikee

[2017-06-05 11:06] skovhus commented on #56
@pornel thanks for reporting this.

Not sure what this should be changed to. Modifying global jasmine timeout probably isn't what the user want... So I guess adding a warning would be a good start.

[2017-06-05 11:09] skovhus commented on #55
Yes `jest-codemods` is more greedy and finds more files than `jest`... Renaming files seems a bit outside the scope of a codemod.

@pornel But let me know if you want to give this a try.

[2017-06-05 11:13] skovhus commented on #27
@ahutchings seems like this is fixed in https://github.com/facebook/jest/pull/3068 ... Does Jest>20 work for you?

[2017-06-05 13:01] pornel commented on #56
Removing/commenting out would be fine IMHO.

[2017-06-05 14:47] Brantron commented on #57
This would be such a big win!! I tried converting a large app to Jest and have ~180 of 1900 tests failing and ~80% stem from this issue.

[2017-06-05 15:06] skovhus commented on #57
Let me know if you want to contribute. Or if you have some different examples of before and after fixing the issue. Would like to have some test cases to base the implementation on.

[2017-06-09 04:16] spinningarrow opened #58 "Transformation error with Ava"
I'm getting this error with some of my test files (which are written using Ava):

[code]

How do I go about figuring out where the problem lies?

[2017-06-09 06:50] skovhus commented on #58
Thanks for reporting.

First thing it to find the file that causes this and narrow down a minimal example of a source code that yields this error. And then either paste it here or make a PR where you add a test that documents this failure (the TDD way).

[2017-06-12 13:15] IanVS opened #59 "Chai `.to.be.an('array')` conversion fails"
Chai's BDD style allows checking for an array with `expect(foo).to.be.an('array')`.  This is converted by jest-codemods into `expect (typeof foo).toBe('array')`.  However, the resulting spec will fail because `typeof` for an array is `"object"`.

Perhaps a better transform would be:
[code]

[2017-06-12 13:17] skovhus commented on #59
Thanks for reporting this!

Do you want to help fixing it? : )

[2017-06-12 13:59] IanVS commented on #59
It looks like it would just be adding another case to the switch [here](https://github.com/skovhus/jest-codemods/blob/master/src/transformers/chai-should.js#L109), right?  Looks simple enough, I should be able to knock out a PR in the next few days.

[2017-06-12 14:19] skovhus commented on #59
Yeah, I guess the default case could handle this. : )

Let me know how it goes. 👍

[2017-06-28 15:38] SpikeO opened #60 "Chai `.to.have.all.keys()` conversion fails"
In Chai when we want to assert that a JSON object has specific keys we can use `.to.have.all.keys()`. As you can see in the code below, the output is incorrect and the current output compares the complete JSON object to `expect.arrayContaining()`

[code]

[2017-06-28 16:17] skovhus commented on #60
Thanks for reporting this. : )

Do you want to work on a PR for this?

[2017-06-28 16:18] SpikeO commented on #60
Yes I would like to give it a try 😉

[2017-06-28 17:35] skovhus commented on #60
Sound good. Let me know if you need any help. : )

[2017-06-28 21:52] SpikeO commented on #60
src/transformers/chai-should.js:406
On this line `node.type` equals `Identifier`, the condition passes if `node.type` equals `ObjectExpression`. I want the if condition to pass so we can surround the constant with `Object.keys`. Do you have a suggestion for this?

I already added tests in my fork: https://github.com/SpikeO/jest-codemods/commit/39dbb2228880914e3eba7a1ae94aa5ac91a9a14f

[2017-06-29 06:06] skovhus commented on #60
It sounds right to me.

[2017-06-29 10:50] SpikeO commented on #60
How can I see if the Identifier (constant JSON object) is of the type `ObjectExpression`?
Because Identifier can also be any other possible variable, i.e. an array.

[2017-06-29 10:57] skovhus commented on #60
So that is the challenging part.

Short answer: you can't.

Longer answer: if the identifier is assigned inside the file you can search the AST for assignment to this specific identifier... But it might be assigned multiple places. AND the identifier might be defined in another file.

I cases like this, I do a best guess and log a warning that the transformation might not be right.

[2017-07-18 21:16] skovhus opened #62 "Release expect transformer and browser mode"
Jest is taking over https://www.npmjs.com/package/expect in an upcoming release. As part of this a codemod was developed (https://github.com/skovhus/jest-codemods/pull/39) and Jest browser support was added for `jest-matchers` (will be `expect@20+`) and other relevant packages (https://github.com/facebook/jest/issues/3360).

Background:
- https://github.com/skovhus/jest-codemods/pull/39
- https://

[2017-07-18 21:53] skovhus commented on #59
@IanVS I've released a fix for this as 0.10.2... Please let me know if it works for you. : )

Thanks

[2017-07-18 21:53] #59 closed

[2017-07-18 21:54] skovhus commented on #58
@spinningarrow did you have time to come with source code that gave you this error? Would like to fix this. : )

[2017-07-19 05:45] spinningarrow commented on #58
Hey, thanks for following up. The code I was trying it on isn't open source and I haven't found the time to come up with a minimal example yet. Will try to do it soon!

[2017-07-19 12:53] IanVS commented on #59
Thanks!  Sorry I lost track of this.

[2017-07-19 13:14] skovhus commented on #59
No worries. : )

[2017-07-20 08:40] avaly opened #64 "Mocha: do not convert `test` to `it`"
Mocha transformer converts the `test` methods to `it`. However the latest Jest docs advertise the usage of `test` instead of `it`: http://facebook.github.io/jest/docs/en/api.html#testname-fn

[2017-07-20 10:22] skovhus commented on #64
Yeah, makes sense to keep "test". 👍🏻

[2017-07-22 16:04] probablyup opened #65 "Unexpected conversion of .Ok to .toBeTruthy()"
This is a little weird, but in a repo I was converting there are some constants that are defined like:

[code]

And one of the codemods (I think the chai one) replaced `MESSAGES.Ok` with `MESSAGES.toBeTruthy()`.

[2017-07-23 21:48] skovhus commented on #65
Thanks for reporting. Expecially the magic chai can be hard to avoid these kind of errors. Much easier with something like tape and Ava where we have a specific import/require we can look for.

Did you run all transformers option in the CLI on the entire source code? Which test runner were your tests written in?

[2017-07-23 21:50] probablyup commented on #65
It was Jest+Chai to just Jest. I believe I only ran the chai transformer
but might be misremembering.
On Sun, Jul 23, 2017 at 5:48 PM Kenneth Skovhus <notifications@github.com>
wrote:

[2017-07-24 09:57] AlanFoster commented on #57
Related PR: https://github.com/skovhus/jest-codemods/pull/61

[2017-08-07 18:42] #57 closed

[2017-08-14 22:01] #65 closed

[2017-08-14 22:10] #64 closed

[2017-08-14 22:11] skovhus commented on #64
Released as 0.11.2

Thanks for raising this @avaly

[2017-08-14 22:11] skovhus commented on #65
Released as 0.11.1, thanks for raising this @probablyup!

[2017-08-14 22:13] skovhus commented on #27
@ahutchings  did you have time to test newest version of Jest? Thanks.

[2017-08-14 22:14] #55 closed

[2017-08-14 22:15] skovhus commented on #58
@spinningarrow I'll keep this open a bit more... Would really love to get this fixed.

[2017-08-15 14:27] ahutchings commented on #27
I just tried this with jest@20, and there is at least one case that does not work.

Input:

[code]

Output:
[code]

Console Output:
[code]

[2017-08-15 16:47] skovhus commented on #27
Thanks!

[2017-08-22 02:52] spinningarrow commented on #58
Hi @skovhus, thanks for your patience. I managed to come up with a minimal example:

[code]

The error is:

[code]

Looking at the Ava docs, it looks like the error is actually in the test itself - `t.is` takes two arguments not one, so this isn't really a bug in jest-codemods. However, the error is pretty hard to debug - is it possible to get some kind of context or line numbering when something

[2017-08-22 07:06] skovhus commented on #58
Thanks for digging this up! I'll have a look.

[2017-08-22 16:46] skovhus opened #68 "Support for Sinon"
Currently we warn that usage of [Sinon](https://github.com/sinonjs/sinon) might be incompatible with Jest. But it would be nice just to convert it to usage Jest Mocks and Spies.

**The good news:** Mocking and spying should be fairly easy to map to Jest.

**But** I think the following cannot really be converted to Jest:
- useFakeTimers (and the `tick` functions doesn't seem compatible with Jest)
-

[2017-08-22 18:51] skovhus commented on #68
@gziolo you did some manual transformation of Sinon in https://github.com/WordPress/gutenberg/pull/1788#issuecomment-313732854 ... Let me know if you have anything to add to the ticket above. You have more experience with Sinon than me. Thanks.

[2017-08-22 19:01] skovhus commented on #68
Taking the examples from Sinon and trying to convert them to Jest by hand:
[code]

[2017-08-22 19:21] gziolo commented on #68
I'm not quite sure if that is similar thing, but it might be worth checking if `clock.tick(1);` could be replaced with `jest.runTimersToTime(1000);`. See https://facebook.github.io/jest/docs/timer-mocks.html#run-timers-to-time. Jest has buit-in fake timers support, but with a slightly different API.

[2017-08-23 05:38] skovhus opened #70 "Chai plugins support"
Chai plugins and chained assertions are not supported yet. They are really complex and we do log warnings when using them.

Not sure if it is worth fixing these. But might make sense to mention that chai can be used with Jest.

See https://ebaytech.berlin/into-the-great-unknown-migrating-from-mocha-to-jest-3baced083c7e

@pahund let me know if you have anything to add. Seems you overlooked the warn

[2017-08-24 15:55] SimenB commented on #62
https://github.com/facebook/jest/pull/4345

[2017-08-24 20:12] skovhus commented on #62
@SimenB thanks! We just need to coordinate this a bit with the Jest@21 release. Keep me in the loop.

[2017-08-24 20:21] cpojer commented on #62
@skovhus please subscribe to https://github.com/facebook/jest/issues/4332 also

[2017-08-25 11:40] jordalgo commented on #68
The other fun conversion will be when you have situations like this
[code]

@skovhus  - Have you already started a branch to work on the sinon codemod ? I would be happy to contribute.

[2017-08-25 12:03] skovhus commented on #68
@jordalgo I haven't started one yet. Just started by looking at their documentation and did some manual transformation (see above). : )

Let me know if you start on it.

We do have some proxyrequire support already, so some of that code can be used for inspiration.

[2017-08-25 18:02] jordalgo commented on #68
@skovhus Ok cool. I may do some tinkering later this week. I'll push something up if I make any progress.

[2017-08-31 14:25] hermanbanken opened #71 "X to.be.within(A, B) converted to X =< A && X >= B"
https://github.com/skovhus/jest-codemods/blob/e3a3f6651eecd7fefc51714d7b4b639a2f14b3be/src/transformers/chai-should.test.js#L545-L558 is the wrong way around.

[2017-08-31 22:04] skovhus commented on #71
Yeah that looks wrong. Thanks for reporting this! Would you like to submit a PR, then let me know. : )

[2017-09-01 18:18] jordalgo commented on #68
@skovhus I got started on a [branch](https://github.com/jordalgo/jest-codemods/commits/sinon). I'm running with the idea that the assertions have already been transformed to `jest.expect` (we can add a note that a test needs to be using jest before using the sinon transformer). Also, in this first iteration, I'm not confirming that objects which call methods like `calledOnce`, `callCount`, etc...

[2017-09-04 18:48] #62 closed

[2017-09-05 13:57] erikras opened #73 "Troubles converting from expect 1.x: Cannot read property 'name' of undefined"
I have been doing some potentially naughty extending of Expect 1.x, and I have been commenting them out as I go, with plans to fix them after the codemod goes though, but I'm stuck with this perplexing error.

Code is in the `jest` branch here: https://github.com/erikras/redux-form/tree/jest

[code]

Any help would be appreciated.

[2017-09-05 14:22] skovhus commented on #73
I have a few busy days, but let me look at this. I would love to help and make next migration easier for the next guy.

: )

Thanks for reporting this!

[2017-09-05 14:33] erikras commented on #73
I was going to say that any help would be appreciated, but I see I've already said that. 😆

[2017-09-05 14:35] erikras commented on #73
FYI: The `toPass` error is related to [`expect-predicate`](https://github.com/erikras/expect-predicate).

[2017-09-05 16:11] Justkant opened #74 "Add aliases for Expect@1.x in the transformer"
Hi,

It would be nice to take into account the aliases for every functions that are map in the transformer for Expect.

Ex: https://github.com/mjackson/expect#toinclude

I don't know if there would be some collision problems because of the same function name present but with different behavior.

[2017-09-05 20:42] skovhus commented on #74
Hi @Justkant

Thanks for reporting this. I thought we already did this... Do you have a specific case that is not transformed?

[2017-09-05 20:53] #71 closed

[2017-09-05 20:53] skovhus commented on #71
Fix will be out in the next version. Thanks for contributing @hermanbanken : )

[2017-09-05 21:08] skovhus commented on #73
After investigating `redux-form` usage of `expect` I see several challenges for this codemod:
- chaining is used a lot (e.g. `expect(state).toExist().toBeAMap().toBeSize(1).toEqualMap`), which we currently not are handling... But we can make some of them work
- usage of `expect.extend` (which we at least should warn if people do)
- usage of https://github.com/erikras/expect-predicate (which I gues

[2017-09-05 22:20] erikras commented on #73
@skovhus You didn't look at [the branch I mentioned](https://github.com/erikras/redux-form/tree/jest). I've already manually done the "Easy" and "Harder" work, before I got down to the errors posted above.

Supporting chaining would be a _HUGE_ improvement to this lib, as that was a serious pain to fix.

I'm doing some crazy ninja js shit with "expectations" for both [plain](https://github.com/eri

[2017-09-05 22:27] skovhus commented on #73
I did. But I wouldn't want you to do any manual fixes (although I few might be needed). Right now manual fixes where needed as we actually crashed. That has been fixed.

Agree. Hold tight. I'll use `redux-form` as an example for a more complex lib to migrate over. Previously I use a lot of mjacksons own libs like react-router and history. Not promising that there will be no manual steps, but the c

[2017-09-05 22:29] erikras commented on #73
Ah, apologies for misassumptions.

Should I sit back and await further updates on this issue?

[2017-09-05 22:30] skovhus commented on #73
If you can wait a week with upgrading, then I would like to use the project as a case for making the codemod better. 🍷

[2017-09-05 22:32] erikras commented on #73
Good deal. I did a release an hour ago, so I'm good to hold steady. I'd've liked to fit this jest migration into the release, but I'm good with waiting.

[2017-09-05 23:05] skovhus commented on #73
jest-codemods@0.13.1 now can concert `redux-form` without crashing... Good start.

But the issues mentioned above like chaining and custom matchers still needs more work from my side. : )

[2017-09-06 09:26] Justkant commented on #74
Yes maybe it's really special but we were using the old `toContain` alias of `toInclude` ([link](https://github.com/mjackson/expect#toinclude)) with an object as parameter and I think that we should use the new `toContainEqual` ([link](https://facebook.github.io/jest/docs/en/expect.html#tocontainitem)) for this case.

[2017-09-10 17:15] skovhus commented on #74
@Justkant thanks. Didn't now these old alias. Let us add these to jest-codemods. : )

[2017-09-11 13:33] Justkant commented on #74
Hi @skovhus
Yes but `toContain` in some cases cannot be used as the old one.
Expect was using the [`isEqual`](https://github.com/ljharb/is-equal) module for `toContain` and so it was doing a deep equality check on objects and arrays.
This is not the case anymore, the new `toContain` is doing a strict equality check.
I think that we should use [`toContainEqual`](https://facebook.github.io/jest/docs

[2017-09-21 08:46] skovhus commented on #74
@Justkant is this not relevant anymore? Else let us keep it open. : )

[2017-09-21 13:46] Justkant commented on #74
Oh yes, my bad.

We used `jest-codemods` to update our tests. Because some of them were using `toContain` (the old alias) we had to manually edit them.
And so now we don't need really the support for those aliases but you're right that it could be useful to other people.

Thanks for your work on this.

[2017-09-21 15:07] skovhus commented on #74
Sure. I'm happy it was useful to you! : )

Let me know if you find other issues or have ideas for improving the codemod.

[2017-09-25 10:01] gziolo commented on #68
I have another example for you. The following file was created using Mocha + Chai + Sinon + sinon-chai before the repository was migrated to Jest. So it gives a real life example what needs to be covered:

https://github.com/WordPress/gutenberg/blob/8de49b988df2363cb468bc7547124516ea893319/editor/block-switcher/test/index.js

Let me highlight the most important pieces:

[code]

[2017-09-25 11:05] skovhus commented on #68
Thanks @gziolo!

@jordalgo let me know if you need any help : )

[2017-09-26 15:31] jordalgo commented on #68
@skovhus I've made a little progress but have stalled a bit as I'm sort of considering whether Jest's spy/stub feature set is mature enough for this code mod. There are just so many sinon features that can't be converted over to Jest right now e.g. return value capturing, `spy.threw`, `stub.withArgs`, pretty much all the async stub stuff, etc... Also, TBH, I'm not so thrilled (after having started

[2017-09-26 19:42] skovhus commented on #68
I think you could suggest improving Jest based on your finding here.

If we cannot convert all those features, I agree that a codemod might not be the best idea. : )

[2017-09-27 17:23] jordalgo commented on #68
@skovhus Yeah, I was thinking about making some Jest PRs/issues to add some of these features though IMHO the sinon API is a bit too large and not all the features need to be supported in Jest.

[2017-09-27 17:51] skovhus commented on #68
@jordalgo they should also be able to co-exist, Sinon and Jest. : )

[2017-10-07 13:45] SimenB opened #79 "ava: Support test.todo"
Just going from `test.todo('this should be a test some day')` to `test('this should be a test some day')` should be enough. As long as no implementation is provided, jest is happy

[2017-10-07 15:04] skovhus commented on #79
Thanks 👍

[2017-10-08 13:31] skovhus commented on #73
Update: redux-form is now using Jest. 🍾

https://github.com/erikras/redux-form/pull/3413

[2017-10-08 13:31] #73 closed

[2017-10-08 14:00] #79 closed

[2017-10-08 14:12] SimenB commented on #79
Awesome!

For reference: https://github.com/facebook/jest/pull/1775

[2017-10-08 14:31] skovhus commented on #79
Thanks! Released as 0.13.4.

https://github.com/skovhus/jest-codemods/releases/tag/0.13.4

[2017-10-08 14:31] skovhus commented on #58
Thanks! Released as 0.13.4.

https://github.com/skovhus/jest-codemods/releases/tag/0.13.4

[2017-10-08 14:31] #58 closed

[2017-10-10 16:27] gziolo commented on #68
Cross-commenting from https://github.com/Automattic/wp-calypso/pull/18695:

It's rather an edge case which is easy to fix manually, but I thought it's worth sharing anyway.

[2017-10-13 13:52] jeffijoe commented on #27
I had the same issue, except I was dependent on the return value of `t.throws` from AVA.

What I did was a manual find-replace `t.throws` -> `throws`, then added

[code]

to every file, followed by `yarn add --dev smid`.

`smid` basically returns the thrown error, or throws an error if no error is thrown... damn that was a lot of throw. 😄

[2017-10-13 22:35] ltegman opened #84 "Support for Lab test runner"
I would love a codemod to help transition from https://github.com/hapijs/lab. I'd be happy to look into doing it myself when I get the time, but I just wanted an issue out here for tracking if you don't mind.

[2017-10-13 22:41] skovhus commented on #84
Thanks @ltegman. It is actually two test frameworks I've never worked with... 👍

Do you have a large test set using these? It really makes writing the codemod more fun and motivating. : )

`code` should be able to leverage a lot of the work done in the `chai` transformers.

[2017-10-13 22:49] ltegman commented on #84
Yeah, we've got multiple projects with anywhere from 100 - 1000+ tests in them, so I'll have a large test case to work with! That was exactly my motivation for wanting this transform, because I'd love to give jest a try, but no interest is doing that migration by hand! :sweat_smile: :

I'm only just now writing my first codemod for another internal library migration we're doing, but once I'm done

[2017-10-14 16:14] mjomble opened #85 "Upgrading from Expect 1.x without using Jest?"
I have a project with a custom test engine that has been using 1.x versions of mjackson's `expect` package for a while.
I would like to upgrade to the new version of the `expect` package, but keep my existing test engine instead of switching over to Jest.

Is this something that the "Expect@1.x (by mjackson)" codemod in this repo is meant to support or is it more for people who intend to switch ov

[2017-10-15 11:14] skovhus commented on #85
The goal here is mostly to make the transition easier to Jest.

But if you choose browser mode "Expect@1.x (by mjackson)" you get explicit import of the new version of expect (from Jest)... You should be able to get that to work with your existing test runner.

[2017-10-15 11:57] mjomble commented on #85
Ah, I've been using `require('expect')` in tests that run on Node, so I picked the other option :)

Perhaps it could be better documented what the Node and browser options actually do? Or maybe even change the question so it's more clearly about explicit vs implicit requires?

[2017-10-15 12:28] skovhus commented on #85
I'm open for PRs if you want to help making this clearer. : )

[2017-10-25 06:28] Haroenv opened #89 "Tape: how to replace t.test and t.skip"
Our codebase has quite a few of those, but now that's the only warning left, except sinon ( #68 )

An example test with those looks like:

[code]

[2017-10-25 07:33] Haroenv commented on #89
t.test can be replaced by `describe` the outer test, and `test` the inner one, but I'm not sure how many levels deep that can go. Seems to be infinite with tape.

t.skip can be replaced by `describe.skip`

[2017-10-25 08:18] skovhus commented on #89
So the test here is a bit funky. It doesn't really follow Tape documentation.

IMO

[code]

should be

[code]

So if you get rid of all the `ttt` and `tt` and just use the `t` coming from `test(...` then the conversion should be fine.

[2017-10-25 09:49] Haroenv commented on #89
Oh that would help too! I’ll do that change then, didn’t happen in many cases AFAICT

[2017-10-29 13:38] skovhus commented on #89
Did it work? : )

[2017-10-29 13:38] #85 closed

[2017-10-30 08:32] Haroenv commented on #89
We aren't moving to Jest _right now_ yet, so I didn't spend to much effort on those tests. Will reopen if we need more help after moving to a more standard way of writing those tests

[2017-10-30 08:32] #89 closed

[2017-11-13 11:58] sirreal opened #91 "Chai-should produced bad translation of chained property an"
The chai-should codemod produces a bad result when chaining `property` with `a`/`an`. See this diff produced:

[code]

Detected in https://github.com/Automattic/wp-calypso/pull/19631 by @gziolo

[2017-11-14 08:37] skovhus commented on #91
@sirreal thanks for reporting this! And thanks for the failing test.

[2017-11-14 09:03] sirreal commented on #91
You bet! Thanks for your work on the codemods 😀

[2017-11-14 19:27] mxmul opened #93 "chai.assert.approximately() arguments don't map to Jest's .toBeCloseTo()"
The chai-assert codemods will rewrite this:
[code]
as

[code]

Which is almost always going to break tests, because the third argument in Chai's "[approximately](http://chaijs.com/api/assert/#method_approximately)" is a delta whereas the second argument to Jest's "[toBeCloseTo](https://facebook.github.io/jest/docs/en/expect.html#tobeclosetonumber-numdigits)" is number of matching digits.

A more c

[2017-11-14 20:48] mxmul opened #94 "chai-assert conversions fail when using chai default export"
The codemod is not able to transform calls like "chai.assert.equal(...)" to Jest assertions. I would expect that either this:
[code]

or this:
[code]

to be transformed to this:
[code]

but only the first is actually fixed.

[2017-11-14 22:03] skovhus commented on #93
Hi @mxmul!

Thanks for reporting this. Let me know if you want to give it a stab.

[2017-11-14 22:07] skovhus commented on #94
Thanks for reporting this @mxmul

Yeah, I haven't seen people using assert like that... But that is clearly a bug that we should fix. : )

Let me know if you want to try to fix it.

[2017-11-14 22:12] mxmul commented on #94
sure, I can take a stab at it :)

[2017-11-14 22:13] mxmul commented on #93
sure, I'll take a stab at it

[2017-11-15 21:33] #93 closed

[2017-11-16 01:11] iansinnott commented on #58
Very helpful issue. And thanks for the fix @skovhus.

Just wanted to add for anyone else coming across this that an empty `t.snapshot()` will also cause the opaque transformation error listed above.

As noted, that error means there's something wrong with the ava test itself. In my case, `t.snapshot()` needs to be passed an argument 🤦‍♂️ , but since ava doesn't care (it will just create a snapshot

[2017-11-16 06:51] skovhus commented on #58
Thanks for sharing. Another good reason for migrating to Jest.

[2017-11-19 08:30] skovhus commented on #91
Chaining is currently unsupported in the chai-should... But it should be possible to add, like we did in the `expect` codemod. : )

[2017-12-13 22:09] elijahdorman opened #97 "Ava contexts not transformed"
[code]

[2017-12-13 22:51] skovhus commented on #97
Thanks for reporting this. Let me know if you would like to try to fix it. : )

[2018-01-10 14:18] VinSpee commented on #94
hi! This is still not transforming for me:

[code]

am I doing something wrong?

[2018-01-10 15:05] skovhus commented on #94
@mxmul any idea what is the issue here? : )

[2018-01-10 15:08] VinSpee commented on #94
i played around with my imports a bit and got it to work correctly, I was doing an

[code]

changing it to
[code]

and specifying the chai transform w/ expect worked.

Thoughts on why this might be?

[2018-01-10 15:18] skovhus commented on #94
@VinSpee ... So are you using `expect` and `chai`? Or only one of them?

[2018-01-10 15:23] VinSpee commented on #94
my bad. everywhere I wrote `expect`, i meant `assert`.

[2018-01-10 15:43] skovhus commented on #94
Ahh ok.

If you have time, it would be super useful if you could create a new issue with a description of the specific issue you had and how you went around it. : )

Would like to close this one.

[2018-01-10 15:43] #94 closed

[2018-01-22 15:39] frontalicious-martijn opened #99 "Check if git directory is clean upfront."
Love your tool! To make it even more friendly; Can you please change the message: "ERROR: Git directory is not clean. Refusing to continue." ?

* Please show this message _before_ asking what to migrate. Saves time and frustration.
* Because you ask it upfront, it does not have to be this aggressive error but it could be something like: "Thank you for using jest-codemods! But before we continue, p

[2018-01-22 15:51] skovhus commented on #99
Love the idea! Do you want to do a PR for this? : )

[2018-01-23 12:31] frontalicious-martijn commented on #99
I could try :-)

[2018-01-31 20:38] anudeep1426 opened #100 "Jest- codemods for replacing sinonJs"
Please add support to migrate the sinon to jest.

[2018-01-31 20:47] skovhus commented on #100
Note that this project is 100% community-driven.

Most of the transformations here either originates from my own needs or contributions from the community that needed a specific feature. I'm personally not planning to implement this right now as I don't have a need for it.

So if you need Sinon support it would be awesome if you added support for this in jest-codemod. And tested it on your own cod

[2018-02-02 15:43] guyellis commented on #99
I was just looking at doing a PR for this but master is not installing "clean" - this is what I get using Node 9.5 and npm 5.6.0 and if I do `npm i`

[code]

[2018-02-02 15:50] skovhus commented on #99
@guyellis please see https://github.com/skovhus/jest-codemods#contributing

We use `yarn` here. If you use `npm` then you would not get the correct version as we don't store the transient dependencies for `npm`.

Thanks

[2018-02-05 06:33] augbog commented on #68
Hey so just wanted to follow up is the decision that a codemod for sinon -> jest may not be the best idea? Or is this still an ongoing discussion? It does sound like, from @jordalgo point, there are a few areas where a codemod really doesn't make sense (some tests that comes out might not be the actual test people want to write with jest even though it is transformed correctly).

Even if the codem

[2018-02-05 18:37] augbog commented on #68
@AlanFoster that is awesome! I heavily recommend adding that to the documentation or, if anything, at least a link :)

[2018-02-05 18:42] augbog commented on #100
@anudeep1426 Just FYI related issue: https://github.com/skovhus/jest-codemods/issues/68

[2018-02-05 19:38] anudeep1426 commented on #100
@augbog  Yeah we can close any of the one issue in favor of other issue.

Thanks @augbog .

[2018-02-05 21:03] skovhus commented on #100
Duplicate. : )

[2018-02-05 21:03] #100 closed

[2018-02-06 02:45] jordalgo commented on #68
@augbog @AlanFoster In my local testing of converting Sinon to Jest I ran into some strange edge cases and unsupported features that made me drop development on this code-mod. However, [this is what I have done so far](https://github.com/jordalgo/jest-codemods/commits/sinon). I'll work on cleaning this up a bit because maybe some folks would find it useful.

[2018-02-08 14:24] selbekk opened #101 "Migrating from expect.js breaks assertions on exceptions"
I was migrating a code base from Automattic's expect.js, and I noticed that my `.withArgs`-calls simply disappeared.

Here's a repo with a reproducible demo: https://github.com/selbekk/reproduce-jest-codemods-error

Now, I realize that you COULD write an inline function that would pass these arguments to the function, and that's what I've been doing manually now - but it shouldn't just remove this

[2018-02-08 18:56] skovhus commented on #101
Thanks you so much for the repoducable bug report!

Can you reveal what transformation you manually do right now to get it to work?

Thanks. : )

[2018-02-21 11:49] c-science1 opened #102 "Transformation error: Where to add a parser/compiler for TypeScript"
I am looking to migrate our tests from Jasmine to Jest. However, it's failing on the first step with the error below:

Transformation error SyntaxError: Unexpected token (22:8)

It's recommended to use ts-jest but is jest-codemods configurable to allow for this or add TypeScript transformation?

[2018-02-21 12:11] c-science1 opened #103 "Skipping the test file without any error"
I am running  jest-codemods src/app/page-components/login/forgot-password/*.spec.ts --force
but getting the result below without any transformation happening or helpful message

$ jest-codemods src/app/page-components/login/forgot-password/*.spec.ts --force
? Which test library would you like to migrate from? Jasmine: this usage
? Will you be using Jest on Node.js as your test runner? Yes, use the

[2018-02-21 12:24] skovhus commented on #102
Hi. Thanks for reaching out.

`jscodeshift` that we use doesn't currently support TypeScript... But some people are working on it https://github.com/facebook/jscodeshift/issues/180

We should probably add this to the README.

[2018-02-21 12:25] skovhus commented on #103
We currently don't support TypeScript. But you can try with `--parser flow`

Duplicate of https://github.com/skovhus/jest-codemods/issues/102

[2018-02-21 12:25] #103 closed

[2018-02-21 12:52] c-science1 commented on #103
Thanks for getting back. However, I was really hoping to find a workaround to able to convert my jasmine tests to Jest.

Even with --parse flow the file is getting skipped

![image](https://user-images.githubusercontent.com/19345360/36480919-fa4c402c-1705-11e8-8fe3-04c2d23a39b1.png)

[2018-02-21 13:24] skovhus commented on #103
Try renaming the file to `.js` and see if that works. If not can you paste the content here?

[2018-02-21 13:32] c-science1 commented on #103
here is the screenshot of Jasmin test file

![image](https://user-images.githubusercontent.com/19345360/36482566-ac59c87a-170b-11e8-9aeb-5bc39cde0a35.png)

[2018-02-21 13:46] c-science1 commented on #102
Yes definitely, it should be highlighted in the README and also https://facebook.github.io/jest/docs/en/migration-guide.html where it mentions Jasmine but not TypeScript which go hand in hand....

It would have saved me a day's worth of effort trying to make it work with TypeScript.

[2018-02-21 14:12] skovhus commented on #102
Sorry to hear that.

Both this and Jest is open source and welcome contributions. Let me know if you would like to contribute here by updating the README. : )

[2018-02-21 14:29] c-science1 commented on #102
Yes sure, thanks for letting me know, will update the ReadME file :)
Currently ooking into https://www.npmjs.com/package/babel-preset-typescript to be added to babel as a preset but can't find .bablerc file...any ideas where I can add this new preset?

[2018-03-14 22:34] wmertens opened #104 "AVA: snapshot(expected, [message]) => .toMatchSnapshot(message)"
AVA can pass a message to the snapshot, so does expect, it would be nice if the codemod retained that.

[2018-03-15 09:18] skovhus commented on #104
Thanks.

The message that you pass to AVA or Expect, is than an error message or the name of the snapshot?

In Jest it is the name of the snapshot.

Feel free to submit a PR for this. : )

[2018-03-15 11:01] wmertens commented on #104
It is the name of the snapshot, in fact, when I did this, the .md
output between AVA and Jest was identical.

I actually took a quick look to see if I could do it, but didn't
immediately see where to begin 😅. Any hints?

[2018-03-15 12:52] skovhus commented on #104
I suggest starting with having a failing test demonstration what you want to achieve.

See https://github.com/skovhus/jest-codemods/blob/master/src/transformers/ava.test.js

Also adding a PR with a failing test is a good contribution. 👍

[2018-03-18 05:56] jamonholmgren commented on #97
I ran into this issue as well. The easiest fix was to add this at the beginning:

[code]

[2018-04-04 15:37] tarjei opened #106 "Expect takes at most one argument."
Hi,

The chai conversion does not erase the second argument in expect calls. I often used expect(foo, 'foo should be true').to.eql(true) type of calls to explain the expect. When running the chai codemod the second argument is left unaltered and thus expect throws an error `Expect takes at most one argument.`.

Would it be possible to erase this argument in the codemod?

[2018-04-04 18:13] skovhus commented on #106
Ah, good catch. Do you have a minimal code example reproducing the issue? We usually remove this in all the transformers (Ava, tape, etc), so that it fairly easy.

Thanks for reporting this.

Let me know if you would like to do a PR for this. Adding a failing test case is also a good way of contributing.

[2018-04-04 18:35] tarjei commented on #106
I used this codemod to cleanup my own code:

[code]

A better solution is https://github.com/facebook/jest/issues/1965 - but I guess that will take some time before it is implemented.

T

[2018-04-21 16:38] skovhus commented on #84
@ltegman how did it go with your first codemod? Let me know if you still are up for contributing here. Thanks : )

[2018-04-22 14:42] tarjei commented on #106
@skovhus like this (from memory):
[code]

The second argument to `expect` is invalid in jest expect.

[2018-04-22 14:43] tarjei commented on #106
so the correct transformation would have been:

[code]

[2018-04-30 20:33] skovhus opened #109 "Improve mocha transformer (webpack feedback)"
See https://github.com/webpack/webpack/commit/5a8083a930ce55df959340fb4ea8d9cdcc42913b#commitcomment-28797796

[2018-04-30 21:02] niieani commented on #109
I think the codemods crashed on some files altogether, in some cases. You'll need to try it out yourself to see where things went wrong! :)

[2018-05-07 18:59] macklinu opened #111 "Extract Prettier options from ESLint config to .prettierrc"
I recently cloned this repo and opened it locally in VSCode with the Prettier IDE plugin installed. Since the Prettier options in this repo live in `.eslintrc.js`, when I would save a file with VSCode, all of the code would be modified to use Prettier's default settings.

My proposal is to move the Prettier options from `.eslintrc.js` to a `.prettierrc` file for better IDE integration. [eslint-plu

[2018-05-07 19:14] skovhus commented on #111
Thanks for this. As long as eslint still works, then the sygestes solution is fine for me.

Personally I have the eslint plugin installed and enabled auto fix on save. This both fixes eslint issue and formats using prettier.

[2018-05-08 07:41] #111 closed

[2018-05-10 18:02] Lieblein opened #113 "use for *.jsx"
I can use `jest-codemods` for *.jsx files?

[2018-05-10 21:05] skovhus commented on #113
Yes. That should work just fine.

Just update the glob you pass to the CLI.

Let me know if you cannot get it to work.

[2018-05-11 15:41] Justkant opened #114 "TypeError: Cannot read property 'object' of undefined"
I just encountered the error on this line I think:
https://github.com/skovhus/jest-codemods/blob/9c9a183c9e996b13c0f4e1be39c1e025c256a89d/src/transformers/expect.js#L70

This code was the problem:
[code]
But those 2 work:
[code]
or
[code]

It's trivial for me to fix on my codebase but I thought it could be useful for anyone getting the same error on a larger codebase.

[2018-05-11 17:15] Lieblein commented on #113
Thanks!

[2018-05-11 17:15] #113 closed

[2018-05-14 19:46] skovhus commented on #109
@niieani thanks.

I've checked out `webpack` (commit: https://github.com/webpack/webpack/pull/6396/commits/009772cb20bed0d5fb192b39fac48a2a84b03ad2) and ran jest-codemods on the entire `test` folder. It gives the following result:

jest-codemods@0.13.x (with jscodeshift@0.3):
122 errors / 278 ok

`jest-codemods` mainly fails due to all the invalid .js files with test fixtures. But there is also so

[2018-05-14 19:54] skovhus opened #116 "Implement missing should.js transformations"
When converting `webpack` to Jest, `jest-codemods` failed on converting the `should.js` construct `oneOf`.

Let us go over the `should.js` transformer and see if there are more matchers that I missed.

- [ ] `expect(typeof id).to.be.oneOf("number", "string")`
- [ ] figure out if there are more matchers that are not supported by `jest-codemods`

[2018-05-14 19:55] skovhus commented on #109
Replaced by https://github.com/skovhus/jest-codemods/issues/116

[2018-05-14 19:55] #109 closed

[2018-05-14 20:14] niieani commented on #116
I remember there were also quite a few false positives (where changes were made to code that shouldn't have been touched by the codemods).

[2018-05-15 06:43] skovhus commented on #116
Let me know if you remember any examples of this.

[2018-06-25 23:45] brianmhunt opened #119 "Support Chai assert with globals"
It seems from the chai-assert code here that `import {assert} from 'chai'` is needed in order for the chai plugin to work.

Is there a way to get the Chai transform to work without having the import? i.e. for those of us with `global.assert = chai.assert`.

Many thanks.

[2018-06-28 19:31] sejoker opened #120 "Chai expect/should missing alias transformations"
Thanks for so useful library. I found chai expect/should aliases are not supported during transformation process:

- gt/greaterThan
- lt

I am happy to open PR if it welcome to address.

[2018-06-30 22:56] skovhus commented on #120
Thanks! Feel free to submit a PR for this. :)

[2018-06-30 22:58] skovhus commented on #119
We usually use detection of import/require statement whenever possible. But maybe there should be a way of bypassing this safety check... although this might lead to some false positives.

Any suggestions?

[2018-07-03 21:22] brianmhunt commented on #119
From an end-user perspective, it's certainly better to have a flag that forces chai replacement, as opposed to adding a stub line to every test file.

[2018-07-18 10:48] #120 closed

[2018-07-27 22:21] ericlam51 opened #122 "Support for TypeScript"
I  would like to transition our Mocha Chai test suite into Jest however, there are all written in TypeScript. Is there any plans to support TypeScript I am sure it will be greatly appreciated by many?

[2018-07-28 22:18] chrvadala opened #123 "Broken conversion from tape tests"
Hi guys,
I think that the conversion from tape doesn't work, because the tape `t.plan(N)` function and `expect.assertions(N)` have different behaviours; Moreover, Jest has this different way to work with callbacks https://jestjs.io/docs/en/asynchronous.html#callbacks

TAPE TEST
[code]
TAPE LOG
[code]
JEST TEST (CONVERTED)

[code]
JEST LOG
[code]

[2018-07-29 23:01] skovhus commented on #122
I would love to support TypeScript! Problem is the underlying libraries we are using...

`jscodeshift` has recently made some progress to support TypeScript. If you are up for it, please try to contribute to some of these issues/PRs:
- https://github.com/facebook/jscodeshift/issues/180
- https://github.com/facebook/jscodeshift/pull/269
- https://github.com/facebook/jscodeshift/pull/239#issuecommen

[2018-07-29 23:04] skovhus commented on #123
Thanks for reporting this. It seems we are not handling that corner case correctly. : /

Let me know if you have any suggestions on how to fix this. And if you have time, then PRs are more than welcome. :)

[2018-07-30 08:54] chrvadala commented on #123
I think that the problem is that Jest and Tape work in two completely different ways. Probably a conversion from Tape to Jest requires more than just a methods conversions.
In a Tape test the number of assertions is planned and it waits until all the assertions are touched or timeout.
Jest doesn't wait for callbacks completion, but uses the assertions number just as check at the end of the test. I

[2018-08-02 10:36] deser opened #124 "Chai's `to.deep.have.members` is converted to `toEqual` which is wrong"
I have found correct method for that in `jest-extended` - `toIncludeAllMembers`.

[2018-08-02 10:39] skovhus commented on #124
Thanks for reporting this. Are you up for creating a PR for this? We don't want to depend on `jest-extended` though.

[2018-08-02 10:47] deser commented on #124
Not sure I see alternative to `toIncludeAllMembers`

[2018-08-02 15:38] deser opened #125 "Incorrect transformation of `.to.be.an('array').that.is.empty`"
`expect(iAmAnArray)).to.be.an('array').that.is.empty;`
 is converted to
 `expect(Array.isArray(iAmAnArray)).toHaveLength(0);`

[2018-08-02 16:28] skovhus commented on #125
Thanks! Let me know if you want to create a PR for this.

[2018-08-02 16:49] deser commented on #125
Possibly later, but I can do it

[2018-08-30 17:46] realtytab opened #128 "Filename matching is broken (at least on windows)"
Doesn't work in: GIT CMD, Git Bash, Cygwin, Node.JS command prompt.,
I have to transform each file individually; super annoying.

c:\workspaces\sts-3.9.0-git\indigo\main\IndigoRetailerUI\test>jest-codemods -d services\api\**.js
? Which test library would you like to migrate from? Mocha
? Will you be using Jest on Node.js as your test runner? Yes, use the globals provided by Jest (recommended)
? Wo

[2018-08-30 17:48] realtytab commented on #128
GitHub is stripping out slashes: jest-codemods -d services\\api\\*.js

[2018-08-31 06:57] skovhus commented on #128
Thanks for reporting this.

Please feel free to create a PR to fix this.

[2018-08-31 06:59] skovhus commented on #128
Note that `-d` is not a supported CLI argument.

[2018-08-31 07:01] skovhus commented on #128
Did you try `jest-codemods services/api`?

[2018-09-12 15:56] snekse commented on #125
I was under the impression that `.to.be.` type chains were not supported yet by this library?  Is that not correct?

I had some original code of `expect(component).to.not.be.false;` that wasn't touched by the transformation.

[2018-09-18 13:26] alundiak opened #130 "Chai assert.isTrue() isn't converted to expect.toBeTruthy()"
jest-codemods v 0.15.0

Chai assert.isTrue()
https://www.chaijs.com/api/assert/

Jest expect.toBeTruthy()
https://jestjs.io/docs/en/expect#tobetruthy

[2018-09-18 14:13] skovhus commented on #130
Thanks for reporting this. Let me know if you want to submit a PR for this.

[2018-09-18 14:32] skovhus commented on #130
`jest-codemods` is open source and by no means perfect, but as this is open source it is up to everyone to improve it.

https://github.com/skovhus/jest-codemods/blob/master/src/transformers/chai-assert.js#L70 should currently handle the conversion from `isTrue` to `toBe`.

Please provide a minimal example that the code mod doesn't handle.

Thanks.

[2018-09-18 15:50] alundiak commented on #130
@skovhus  does it mean that jest using Chai Assert? If so why not to reuse the same name?
Anywya I'm going to try also toBe().

PS. Facebook is a huge company, and I would expect from it proper code quality. If Facebook is eager to load my mind with ads on Facebook, let's rather implement better Jest, if it's really about better tool, not about earning money on simple wrappers on already existed o

[2018-09-18 16:15] alundiak commented on #130
back to to `toBe()` as I see it is for expect:
[code]

not for assert.toBe() as alias. Or how it works with those transformation?
So far I want to remain using assert if possible and avoid using expect.
Not really matter to me in regards of flavor, but I wanna do less silly code line replacement work.

[2018-09-18 16:29] skovhus commented on #130
jest-codemods isn’t backed by Facebook!

I’ve spent my weekends building it with the open source community. If it doesn’t help you, then please don’t use it.

Personally, I’m proud that jest-codemods have helped Netflix, Spotify, Microsoft, PayPal and hundreds of other companies and open sources libraries to migrate their codebase to Jest.

If you want to help, then give me a reproducible example

[2018-09-18 16:38] alundiak commented on #130
My code is simple - in my first post. rest of code is my commercial code sugar.
Even if I create jsfiddle it might even work, not sure. Going to try from home.

[2018-09-18 16:55] alundiak commented on #130
[code]

then I run `jest-codemods` select "all..." and globals...

And after transforming process my file/code

[2018-09-18 17:01] skovhus commented on #130
How does you assert import/require statement look?

[2018-09-18 17:09] alundiak commented on #130
Here is my `jest.config.js`

[code]

Here is my `setup-test-env.js`:

[code]

Here is my package.json:

[code]

yes, `assert` is not added as dependency explicitly, but I expected that `jest` instals it somhow, or at least peerDeps, but not.
So instead commonjs-assert, built-in used.

And here is my npm ls:

[abc-ls.log](https://github.com/skovhus/jest-codemods/files/2393789/abc-ls.log)

[2018-09-18 17:51] skovhus commented on #130
Okay. We have two issues:
1) you are not using a library that is supported
2) you have no import/require statements in your tests but depends on `global.assert`

### Unsupported assertion library
You are using https://github.com/defunctzombie/commonjs-assert , not Chai. That library is currently not supported by jest-codemods (see the [README](https://github.com/skovhus/jest-codemods#-jest-codemod

[2018-09-18 17:51] #130 closed

[2018-09-18 17:53] skovhus commented on #128
Ping @realtytab

[2018-09-18 17:55] skovhus commented on #130
We did talk about a way to bypass the input/require detection here https://github.com/skovhus/jest-codemods/issues/119

[2018-09-18 17:56] skovhus commented on #119
Wondering if we should just convert more aggressively without the require/import detection. That means more false positives, but hopefully, people are working with version control.

It could be a question in the CLI.

[2018-09-18 18:01] skovhus commented on #104
This was released in April

[2018-09-18 18:01] #104 closed

[2018-09-18 18:01] skovhus commented on #102
Replaced by https://github.com/skovhus/jest-codemods/issues/122

[2018-09-18 18:01] #102 closed

[2018-09-18 18:12] skovhus commented on #99
I implemented and released this April, but forgot to close this issue. :)

Thanks @guyellis @frontalicious-martijn

[2018-09-18 18:12] #99 closed

[2018-09-18 18:17] skovhus commented on #70
Closed due to inactivity

[2018-09-18 18:17] #70 closed

[2018-09-18 18:19] skovhus commented on #68
@jordalgo did you ever find more time to wrap your branch up?

[2018-09-18 19:12] skovhus commented on #119
@brianmhunt can you check if `jest-codemods@0.16.0` does what you expect? I've added a CLI option, see https://github.com/skovhus/jest-codemods/pull/131.

[2018-09-18 19:44] brianmhunt commented on #119
Thanks @skovhus ; It looks right to me. If I discover any issues with further use, I'll open a new issue.

[2018-09-19 08:01] deser commented on #124
As far as I remember it was just toEqual without `expect.arrayContaining`. However I'm not sure that `to.deep.include.members` is covered by `toEqual(expect.arrayContaining`, you can check what's inside `toIncludeAllMembers` I just don't have time to cover all cases

[2018-09-19 10:28] skovhus opened #132 "Support todo"
Soon Jest will probably have support for `test.todo` and `it.todo` similar to ava's todo.

See https://github.com/facebook/jest/pull/6996

[2018-09-19 15:00] alundiak commented on #130
Assuming my test written using Chai Assert,
I can verify, that:
- I `npm install chai --save-dev` then
- I added line to my test file `import { assert } from 'chai';` and then
- executing `jest-codemods` with "Chai Assertion" selection, in fact transformed all assert-s into expect-s, and
- it removed `import` line from code in test file.

Somehow is OK for me, coz I realize, that explicit import m

[2018-09-19 15:06] skovhus commented on #130
Good to hear.

Yeah, the codemod doesnt touch your package.json file.

[2018-09-19 15:26] alundiak commented on #68
So, having this line `import sinon from 'sinon';` in spec files doesn't cause to be converted to any jest.fn() or jest.spyOn()
If it's still relevant feature to support, I would like to have it.

[2018-09-19 15:30] alundiak commented on #130
UPD: Chai assert.isTrue() converted to expect.toEqual(true). I thought it would convert to expect.toBeTruthy() but ok.

[2018-09-19 15:38] skovhus commented on #130
`toBeTruthy()` is more relaxed than `assert.isTrue()`, as it checks if the given value is true in a boolean context. Meaning `expect('foo').toBeTruthy()` is true, but `expect('foo').toEqual(true)` is not. See https://jestjs.io/docs/en/expect#tobetruthy

[2018-09-19 15:38] skovhus commented on #68
PRs are more than welcome.

[2018-09-19 15:41] jordalgo commented on #68
@skovhus Unfortunately no :( But let me take a look at it this weekend. Are we still in the situation where there are MANY Sinon features that aren't supported in Jest? I probably just have to explicitly list all the ones we don't support and spit out warnings whenever we come across them.

[2018-09-19 16:06] SimenB commented on #68
We wanna revamp our mocking API in Jest, so any suggestions that come out of this are very much welcome!

Some discussion here: https://github.com/facebook/jest/issues/5969

[2018-09-21 15:20] jordalgo commented on #68
So here is the test file which shows all the Sinon Methods my PR supports:
https://github.com/jordalgo/jest-codemods/blob/7de97c1d0370c7915cf5e5cc2a860bc5dd96744b/src/transformers/sinon.test.js

However! Here is a (not exhaustive) list of what this code shift still needs. Many methods do not have Jest equivalents. It seems pretty daunting but if we wanted to decide on a base set of methods to supp

[2018-09-25 10:12] Leko opened #133 "encountered a declaration exception: Missing second argument"
- jest-codemods: 0.16.0
- Using: Mocha + no assetion library (use built-in `assert` module)
- Jest: 23.6.0

Hi,
An unexpected transform about pending tests.

[code]

---

I think this test is incorrect:

https://github.com/skovhus/jest-codemods/blob/ce287998b38df5c52eb6a2239a74afab5e5e3a4d/src/transformers/mocha.test.js#L115-L131

It should be one of these solutions.

1. Add `.skip` and empty func

[2018-09-25 11:06] Leko commented on #133
@skovhus I just created a pull request for fixing this issue.
https://github.com/skovhus/jest-codemods/pull/134

[2018-10-14 04:10] sgilroy opened #135 "Transformation error from jasmine-this TypeError: Cannot read property 'type' of undefined"
Using the `jasmine-this` transformer on an array containing a function will fail as follows:

[code]

Example of a test which triggers this error:
[code]

[2018-10-16 11:58] deser commented on #128
Seems I'm experiencing the same issue
Nothing from below works:
1. `src/*spec.js`
2. `src/**/*spec.js`
3.  `<fullpath>/*spec.js`

[2018-10-16 17:09] skovhus commented on #128
@deser can you send me the entire command you run and the output. Preferably as a screenshot?

Thanks

[2018-11-29 17:41] skovhus commented on #125
@snekse `to.be.` is supported by the chai-should transformer. Example https://github.com/skovhus/jest-codemods/blob/master/src/transformers/chai-should.test.js#L294

I'm wondering which transformer you selected in the CLI.

[2018-11-29 22:09] #125 closed

[2018-11-29 22:13] skovhus commented on #125
@deser 0.17.0 includes some improved `chai-should` conversions. Thanks for reporting this.

[2018-11-30 07:16] deser commented on #125
Ok, many thanks and sorry for not fixing that

[2018-12-05 16:47] domoritz commented on #122
0.6.0 supports typescript. Can you update?

[2018-12-05 17:53] skovhus commented on #122
Great!

Besides upgrading jscodeshift I would like us to add a small integration test that documents the support.

Are you up for doing a PR?

[2018-12-05 17:55] domoritz commented on #122
Unfortunately no but I look forward to using it when it works.

[2018-12-07 13:07] robcresswell opened #138 "Support node-tap"
The `tape` converter mostly works fine for [node-tap](https://www.node-tap.org/), except that it explicitly requires `tape` as part of the mod. It'd be great if this could be changed to look for either `tap` or `tape`.

[2018-12-07 14:16] skovhus commented on #138
I like it! Do you want to give it a try?

[2018-12-07 14:23] robcresswell commented on #138
Absolutely, I'll do it this weekend

[2018-12-07 14:31] skovhus commented on #138
@robcresswell awesome! Let me know if you have any questions.

[2018-12-08 23:33] #122 closed

[2018-12-08 23:37] skovhus commented on #122
@domoritz @ericlam51 I've just released 0.18.0 with TypeScript support. 🍾

Please try it out, and let me know if it works for you.

Thanks for your patience.

[2018-12-08 23:49] skovhus commented on #128
@deser any news here?

Note that you can always run jest-codemods on all js files instead of just test files. So you can use `src` as a path instead of a glob.

[2018-12-08 23:51] skovhus commented on #122
If you do experience any issues with the codemod, please create a new issue with reproducible steps.

[2018-12-09 09:41] #119 closed

[2018-12-10 08:32] deser commented on #128
Oh, sorry, I didn't see your previous comment.
I've resolved my issue (somehow, I don't remember how :) ) a few months ago so I can't help with that now :(

[2018-12-10 09:45] #128 closed

[2018-12-11 17:45] domoritz opened #140 "Support chai includeDeepMembers"
It would be great if the library supported https://www.chaijs.com/api/assert/#method_includedeepmembers

[2018-12-11 20:43] sqal opened #141 "TypeError: array is not iterable"
Hi. I would like to report a bug with latest version (0.18.0) of this package. I just installed jest-codemods on my machine (globally) and no matter what option I choose in the cli, I always get the same error `TypeError: array is not iterable`

**Full log**

[code]

**Environment**
- Node/npm version: 10.11.0/6.4.1
- OS: Windows 10

[2018-12-12 00:21] skovhus commented on #141
The actually problem is hidden in this line:

So it didn’t find any files matching the glob.

You might want `tests/**/*.test.js` instead? Or simple `tests`. Or maybe globs doesn’t work correctly on windows. I would like to figure out what the reason is...

The misleading error is caused by a problem in jscodeshift. See https://github.com/facebook/jscodeshift/pull/295

[2018-12-12 00:30] domoritz commented on #140
Unfortunately, I'm pretty swamped right now.

But I can suggest a translation I ended up applying by hand:

[code]

should become for one expected value

[code]

or this for multiple expected values

[code]

[2018-12-12 09:47] skovhus commented on #141
Thanks.

And how does your folder structure look? Do you have test files in `tests/foo/bar/my.test.js`?

[2018-12-12 10:02] sqal commented on #141
All files are directly in the `tests` folder, no subdirectories

[2018-12-12 10:15] skovhus commented on #141
Seems like the `globby.sync` is not working on windows.

See https://github.com/skovhus/jest-codemods/blob/master/src/cli/index.js#L251

Here if you don't give any files as command line arguments (`jest-codemods tests/*.test.js` which will be expanded by most shells), then we expand the glob pattern you give in the interactive CLI.

If you have time, it would be valuable if you can do a `console.l

[2018-12-12 10:40] sqal commented on #141
Looks like simple change is required here:

```var filesExpanded = _globby.default.sync(cli.input.length ? cli.input : files)```

and it works now :)

[2018-12-12 11:03] skovhus commented on #141
Ah, your shell is not expanding the glob! Thank you so much for this. I’ll make a fix.

[2018-12-15 19:48] #141 closed

[2018-12-15 20:02] skovhus commented on #141
@sqal I've deployed your fix as `jest-codemods@0.19.0`. I would really appreciate if you have time to see if it works for you. Thanks. :)

[2018-12-16 10:34] sqal commented on #141
@skovhus Hey. I've installed 0.19.0 and yes, can confirm that original issue is gone, but I ran into another issue. After transformation task is completed, node process just hangs on the line `Time elapsed: 0.873seconds`, there's no additional errors and I can't even terminate the process with shortcut CTRL+C, I have to close terminal's window instead. I managed to find the source of this problem.

[2018-12-16 11:50] skovhus commented on #141
@sqal thank you so for debugging this!!

I'm cutting a new release soon – I'll let you know when this is out. :)

[2018-12-16 12:04] skovhus commented on #141
0.19.1 is out. Can I get you to test it?

Thanks!

[2018-12-16 12:11] sqal commented on #141
Thank you! Everything works great now :)

[2018-12-22 14:44] kimamula opened #151 "[TypeScript] Type assertion syntax with angle brackets is handled as JSX, which results in an error"
File examined:

[code]

Command:

[code]

Result:

[code]

[2018-12-22 18:39] skovhus commented on #151
Thanks! This is an underlying issue with jscodeshift and the Babylon parser we are using.

It might help if we didn’t default to the tsx parser for all ts(x) files. See https://github.com/skovhus/jest-codemods/blob/master/src/cli/transformers.js

But it does complicate the codebase as we need two transformation runs for TypeScript files then: one for .ts files and one for .tsx.

🤔

[2019-01-17 23:05] alexpearce92 commented on #151
Any workaround here? I'm running into the same issue
[code]

myTest.spec.ts
[code]

Error
[code]

package.json [abridged]
[code]

[2019-01-25 16:22] alexpearce92 commented on #151
Made some progress here. It looks like `jest-codemods` blows up when a typescript file is casting an object using the `<GtLt>` syntax, and works fine when swapping it out for the `as` syntax (this was not included in my example above, unfortunately).

I also found a third party implementation that did a bunch of other conversions that `jest-codemods` appears to miss. For anyone interested, check o

[2019-02-16 04:05] domoritz opened #152 "Tape transformer should work with any variable name"
This is a feature request.

Conversion of this code works well but

[code]

But this does not work (`jest-codemods warning: (...) Argument to test function should be named "t" not "x"`).

[code]

I think it would be great if the codemod supported arbitrary variable names.

[2019-02-17 09:38] skovhus commented on #152
Good idea, but might be slightly tricky to find all the places where x is used. But I’m always open for PRs, and I’m happy to help if you are stuck.

[2019-02-17 16:53] domoritz commented on #152
I decided to rename all test variables but still this it would be good if this codemod was more robust.

[2019-02-19 21:30] robertkraig commented on #151
@alexpearce92 had the same issue on my end. I think they need to test the file extension to see if it ends with ts, if it does not to parse as JSX.

[2019-02-22 22:17] bjohn465 opened #153 "Chai's `to.have.string` converted incorrectly when string literal isn't used"
When migrating using the "Chai: Should/Expect BDD Syntax" library option, `to.have.string` is converted incorrectly when the value being checked is not a string literal.

Sample input code:
[code]

Sample output code:
[code]

I would expect `expect(myString).to.have.string('constant');` to be converted to `expect(myString).toContain('constant');`, like the `expect('string literal')` was, since `ex

[2019-02-22 23:58] #153 closed

[2019-02-22 23:58] skovhus commented on #153
Thanks for the contribution!

[2019-02-27 22:50] grreeenn commented on #151
Hi, I've stumbled upon this thread while looking for TS type assertions; maybe this cite from docs would help (note the last sentence):

Sorry if it doesn't make sense in this case

[2019-02-28 06:25] skovhus commented on #151
Thanks!

For simplicitet we went for using the jsx parser for all typescript files. We need to change that, but it does complicate things (example: we need to expand file globs)

[2019-04-16 15:28] Hugodby opened #162 "Inline arrow function support for expect.js"
Hi,
I trying to migrate off `expect.js`. It works fine for most of the tests. However, when the expect call is inline it isn't converted:
[code]
However, when I use `{ }` to declare the function it works:
[code]

[2019-04-23 07:24] skovhus commented on #162
@Hugodby thanks for reporting this. Let me know if you want to give it a go.

[2019-08-21 13:39] guidobouman opened #171 "Chai-expect conversion failing for and method"
The `and` method is not supported by Jest, where Chai does support it.

It should probably cut the assertion in two:

[code]

Is this a feasible option for codemods?

[2019-09-02 09:26] skovhus commented on #171
Thanks for reporting this. Would be great to fix this.

You are more than welcome to work on this, that would be awesome. A good first step would be to create a failing test case documenting this issue. Let me know if you need any help. :)

[2019-09-02 15:03] saveman71 opened #172 "Chai-should fails when require without variable"
Repro:

[code]

Produces:

[code]

[code]

Fixes it.

[2019-09-02 15:23] saveman71 opened #173 "Chai-should typeof date produces bad transform"
Repro:

[code]

produces

[code]

`typeof new Date()` is `"object"`, thus the test fails.

[2019-09-02 19:50] skovhus commented on #173
Good catch, thanks for reporting this. Let me know if you would like to submit a PR fixing this issue.

[2019-09-02 19:50] skovhus commented on #172
Thanks for contributing.

[2019-09-05 14:01] biltongza commented on #151
Is there any progress/workaround for this?

[2019-09-06 00:39] krainboltgreene commented on #138
Simply changing `'tape'` to `tap` successfully worked for me.

[2019-10-13 12:56] #151 closed

[2019-10-13 21:19] #172 closed

[2019-10-13 21:19] #173 closed

[2019-10-13 21:28] skovhus commented on #172
Released as jest-codemods@0.21.0

https://github.com/skovhus/jest-codemods/releases/tag/0.21.0

[2019-10-13 21:28] skovhus commented on #173
Released as jest-codemods@0.21.0

https://github.com/skovhus/jest-codemods/releases/tag/0.21.0

[2019-10-24 16:55] lvadla opened #185 "chai `expect(str.length)to.be.empty`"
`expect(wrapper.find('.failure-message').length).to.be.empty;` is transformed to `expect(wrapper.find('.failure-message').length).toHaveLength(0);` which fails.

Should remove `.length` if using `.toHaveLength`.

Should I add this?

[2019-10-24 18:08] skovhus commented on #185
That makes sense. Would be awesome if you added this. :)

[2019-12-19 15:41] DaniGTA opened #187 "Cannot find module 'core-js/modules/**'"
### Environment

1. `node -v`: 12.7.0
1. `npm -v`: 6.10.2
1. Operating system: Windows

### Prerequisite
entered:
`npx jest-codemods ./test/**/*.ts`
### Steps to Reproduce

If needed i can invite to the repo

### Expected Behavior

no error

### Actual Behavior

[code]

[2019-12-19 19:05] skovhus commented on #187
That is a weird error. For some reason core-js is missing. Can I get you to install Jest-Codemods using `npm install jest-codemods` in an empty folder? Then you can run it by doing `npm run jest-Codemods` from that folder.

[2019-12-19 19:26] DaniGTA commented on #187
on:
`npm install jest-codemods`
`npm run jest-codemods`
i get:

[code]

![image](https://user-images.githubusercontent.com/20490672/71202827-34d7f700-229d-11ea-867e-f324d4697fb5.png)

on:
`npm install jest-codemods -g`
i get:
`npm run jest-codemods` => same error

`jest-codemods` => this runs but has same core-js error.

[2019-12-20 06:59] skovhus commented on #187
It might be me using yarn for too long. It seems npm run would not run your local installation. https://stackoverflow.com/questions/9679932/how-to-use-package-installed-locally-in-node-modules

Last test, can you try running `npx jest-codemods` in the folder next to the `node-modules` (the folder you ran npm install in).

Thanks for helping me debug. And sorry for the inconvenience.

[2019-12-20 13:08] DaniGTA commented on #187
That works, thanks ^^.

I startet `npx jest-codemods` on the same folder that used at the first time (That was a folder next to the node-modules). But i restarted my pc between and now it just works 👍

[2020-04-06 11:58] MatthewTrout opened #192 "'it' becoming 'test'"
Currently if I run this migrating from mocha, in addition to the modifications I'd expect to see surrounding assertions etc, `it` is being converted to `test`.  Since `it` is an alias of `test`, I'm wondering why there's a preference over test?  Also if this is the case, is there a way of avoiding this replacement in the jest-codemods utility currently?  This creates a lot of noise in spec convers

[2020-04-06 13:09] SimenB commented on #192
IMO `jest-codemod` should leave those alone as `test === it` in Jest. People who care should use https://github.com/jest-community/eslint-plugin-jest/blob/master/docs/rules/consistent-test-it.md instead

[2020-04-14 08:39] skovhus commented on #192
It was changed Jest docs advertise the usage of `test` instead of `it`: http://facebook.github.io/jest/docs/en/api.html#testname-fn

See original issue (3 years ago): https://github.com/skovhus/jest-codemods/issues/64

But it makes sense to keep `it` if the user is using it.

[2020-04-14 10:20] MatthewTrout commented on #192
Thanks for the response @skovhus

Yeah I found that issue, but that anchor on the jest docs doesn't link to anything in the page so wondered if they'd changed their mind on that!

Yeah happy to do this but will simply reverting it work or will it then convert `test` to `it`?  Presumably we'd like it to just not touch `it` or `test`.

[2020-04-14 10:44] SimenB commented on #192
Could be an option I guess?

[2020-04-14 11:15] skovhus commented on #192
I would like to avoid too many options and have some good defaults. I think preserving what the user had makes sense.

The link was just to the main docs where test is used instead of it.

Reverting will not work as there has been to many changes since back then. But applying the changes manually should do the job. :)

[2020-04-15 11:44] skovhus commented on #192
I’ll keep this open until the change is released.

[2020-05-29 19:58] skovhus commented on #138
Might still be nice to add this.

Which line did you change?

[2020-05-29 20:00] #187 closed

[2020-06-02 08:13] #132 closed

[2020-06-02 20:26] skovhus commented on #192
Released as 0.23. Thanks for your contribution!

[2020-06-02 20:26] #192 closed

[2020-06-02 20:39] #185 closed

[2020-06-17 02:24] bluelovers opened #197 "Support vows"
hope can support vows

[2020-08-27 06:24] jwedel opened #200 "Missing transformation for Jasmine mock return values"
The following code:
[code]
is transformed to:
[code]
It should be however transformed to
[code]

[2020-08-27 07:12] skovhus commented on #200
@jwedel thanks for reporting this. And let me know if you are up for creating a PR fixing this.

[2020-08-29 21:11] jwedel commented on #200
@skovhus I've created a PR with a failing test but I have no idea how to fix this. I've looked at the `jasmine-globals.ts` but I can't figure out where to start...

[2020-09-03 20:53] jwedel commented on #200
I figured out that it is possible to replace
[code]
by
[code]

I've changed the test and finally figured out how to write transformation that makes the tests green.

*However, I have to say that the implementation is very hard to read and understand, especially the reverse tree is messing with my mind. Moreover, IMO it's pretty bad that the actual test() call is wrapped in a reusable function. Tha

[2020-09-04 08:13] skovhus commented on #200
I see what you are saying. For running individual tests you can run `yarn test:watch` (Jest in watch mode) and filter the tests by test name. Example:
- `yarn test:watch`
- press `w` for menu
- press `t` for test name filtering
- type `maps expect within matchers` and enter

Or you can just watch failed tests or test that are modified.

[2020-09-09 14:45] jwedel commented on #200
@skovhus Yes, that can be done. However, I am using my IDEs functionality (IntellIJ in this case) to run individual tests. But that only works if there are actual tests that can be discovered. Moreover, I don't see any need to handle it the way it is right now. I would suggest to do change the structure like that:

[code]
That still allows using jest functionalility plus using an IDE to run tests.

[2020-09-09 15:03] #200 closed

[2020-09-09 15:06] skovhus commented on #200
That is a great idea. Let me know if you are up for fixing it. :)

[2020-09-09 21:42] jwedel commented on #200
Done with #202 thanks to heavy use of multi-cursor actions :)

[2021-03-18 13:17] bennycode opened #205 "Error: Cannot find module 'core-js/modules/es6.object.to-string.js'"
Hello, I installed `jest-codemods` (v0.23.0) globally and ran the following command:

[code]

Afterwards I got to see this error:

[code]

Here is the file which I tried to convert:

- https://github.com/wireapp/wire-webapp/blob/2021-03-18-staging.0/test/unit_tests/event/EventRepositorySpec.js

Am I holding it wrong?

[2021-04-13 10:23] mvindahl opened #207 "jasmine-globals: Suggest relaxing matching for spyOn(..).and.xx(..)"
In our existing test code we often create our spies during beforeEach, along the following lines:

[code]

The `and.returnValue` is jasmine syntax and should be transformed to `mockReturnValue`.

Alas, jest-codemods only detects `and.returnValue` if it's directly chained to `spyOn()`, like in `spyOn(..).and.returnValue(..)`. The same goes for `and.callThrough` and `and.callFake`.

I suggest relaxi

[2021-04-13 10:57] skovhus commented on #205
It seems like `jscodeshift` depends on `core-js` through `babel-register`, but still is not installed.

Which version of node are you using?

[2021-04-13 10:58] skovhus commented on #207
Thanks for raising this. I see that the use case you mention is not supported, and I agree that the workaround you present here might be worth it.

Feel free to create a PR. Would also like if you document the use case in a unit test.

[2021-07-21 14:04] pmn4 opened #221 "Feature Suggestion: Command Line Options for Prompts"
_(not an issue, but a feature request)_

I am slowly introducing `jest` to a repository and would like to modify files as they are edited (in a pre-commit hook). I'd love it if I could add command line options to "pre-answer" the prompts. For example, I could add `--parser=babel` to skip the parser prompt.

thanks!

[2021-08-02 11:59] skovhus commented on #221
There is some existing work done here: https://github.com/skovhus/jest-codemods/pull/189

Let me know if you want to wrap that up. That would be a great contribution to the project.

Thanks!

[2021-08-11 19:36] #207 closed

[2021-08-12 15:18] seansfkelley opened #227 "Chai: `not.to.include` erroneously transformed to `toEqual(expect.arrayContaining...)`"
The Chai codemod seems to be sensitive to `not` ordering in some cases. Assertions of the form

[code]

are incorrectly inverted to

[code]

While

[code]

results in the expected

[code]

[2021-08-12 15:33] skovhus commented on #227
Thanks for reporting. Let us know if you want to create a PR fixing this. :)

[2021-09-27 17:41] milahu commented on #106
nope, thats a lossy transform

we should use https://github.com/mattphillips/jest-expect-message

[2021-10-07 06:13] mikelhamer commented on #99
I'm getting this message even though I have no uncommited changes. Any ideas?

[2021-12-15 20:49] kenirwin opened #233 "doesn't convert chai `to.be.equalTo` to jest `toEqual`"
After running jest-codemods, I had to manually convert tests like this one from chai:
`expect(res.libguides).to.be.equalTo(['Accountancy']);`
to this is jest:
`expect(res.libguides).toEqual(['Accountancy']);`

Is that a feature that could be added in the future, or are the two sufficiently different in some cases that it could be dangerous to do so?

[2021-12-16 14:01] skovhus commented on #233
Thanks for reporting this. It should be doable to add. Let me know if you want to help out with this. :)

[2021-12-16 14:15] kenirwin commented on #233
I'd be interested in helping out if someone can give me a pointer on where to start. I haven't dug into the code at all.

[2021-12-18 22:05] skovhus commented on #233
@kenirwin I've investigated this a bit. The reason why we are not currently converting `equalTo` is that it isn't mentioned in the chai [documentation](https://www.chaijs.com/api/bdd/#method_equal) or [codebase](https://github.com/chaijs/chai/search?q=equalTo).

The additional keywords comes from the https://www.chaijs.com/plugins/chai-arrays/ plugin.

I've added support for this in https://github

[2021-12-18 22:05] #233 closed

[2022-01-03 20:50] wshowair opened #235 "TypeError: babel.loadOptionsSync is not a function"
First of all, thanks for creating this package, it really helps in migrating to Jest easily.

While I was using the latest version@0.25.0 on one of my private repos, I was facing this error:
[code]

### Steps to reproduce
1. checkout my sample rep https://github.com/wshowair/test-jest-codemods
2. npx jest-codemods
3. Make the following selections
<img width="1341" alt="image" src="https://user-ima

[2022-01-03 20:54] wshowair commented on #235
I can help by creating the PR if it is needed.

[2022-01-03 21:19] skovhus commented on #235
That would be great. But I'm wondering why this started failing. 🤔

[2022-01-04 07:15] wshowair commented on #235
There are a couple of things contributed to this error to happen just recently:

1. Babel released a new version 7.16.7 few days ago https://github.com/babel/babel/blob/v7.16.7/packages/babel-register/src/worker/transform.js#L81 where the function was first introduced. Please note it matched the callstack reported in the issue description ☝️
2. When you use `npx jest-codemods` or `npm install -g j

[2022-01-04 08:59] #235 closed

[2022-02-07 11:48] MartinMuzatko opened #237 "Ava: test.failing should be changed to test.skip"
After applying the jest-codemods to my project using ava, I found that jest complains about `failing` not being defined.
In ava, you can mark a test as failing, so you are notified to fix it, but the tests still complete.

jest-codemods simply removed the `test.` in front of `failing` and left it as is.

Otherwise, changes worked out smoothly.

[2022-02-07 16:54] MartinMuzatko commented on #237
Thanks for the quick fix! :)

[2022-02-18 10:08] GeorgeWL opened #241 "Feature Suggestion: Migration from outdated versions of Jest"
I was hoping the codemod could handle some of the dirty work for me, but sadly not, but I've currently got a project where as part of trying to remove tech debt, we're upgrading outdated and insecure modules, and upgrading to latest jest automagically using this tool would've been nice

I have a feeling it probably would be quite difficult to implement though, so can totally understand if y'all fe

[2022-02-18 11:12] SimenB commented on #241
We originally planned to write codemods for Jest to handle API renames, but nobody had the energy to make it happen, so we never did 😀

The ESLint plugin can do _some_ things, but it's not super extensive.

[2022-02-18 11:23] GeorgeWL commented on #241
would help if @jest had official upgrade guides tbh, then it would be easier to do 💯

[2022-02-18 11:24] GeorgeWL commented on #241
would help if @jest-community had official upgrade guides to be honest, then it would be easier to do 💯

[2022-02-18 11:33] SimenB commented on #241
Yep, but that requires time and effort to write, of which volunteers often have little 🙂

[2022-03-02 11:28] skovhus commented on #241
Doing migration from outdated version as part of jest-codemods seems a bit out of scope, which is:

But that being said I'm not opposed to the idea if someone has time for adding this. The infrastructure and required setup is already in place.

[2022-04-26 18:27] tleunen commented on #205
Just installed codemods (0.26.1) and I'm facing a similar error, although with `@babel/runtime-corejs2`. Maybe related?

[code]

 Both from `npx jest-codemods` and by installing it globally

[2022-05-10 20:36] renovate[bot] opened #250 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] Update dependency jscodeshift to v0.13.1 (`jscodeshift`, `@types/jscodeshift`)
 - [ ] Update dependency lint-staged to v12.4.1
 - [ ] Upd

[2022-06-09 18:09] anomiex opened #292 "Version 0.26.2 is unrunnable due to esm-only globby"
When I try running `npx jest-codemods`, I wind up with the following error
[code]
This is due to #267 updating globby from v11 to v13, globby v12 becoming esm-only, and jest-codemods still transpiling to CommonJS for the bin. To make this work, you'll probably have to either downgrade globby or transpile the bin to ESM instead.

[2022-06-10 16:55] yogeshgadge commented on #292
This breaks in Angular >=13 which uses globby@12.2.0

[2022-06-10 17:27] #292 closed

[2022-06-10 17:30] skovhus commented on #292
Thanks. This should be fixed in 0.26.3

[2022-07-08 16:00] josh-degraw opened #325 "Sinon transformer doesn't seem to recognize sinon usages"
So I'm trying to migrate from mocha/chai/sinon, I have tried in the past but our usage of sinon had been a blocker, but I just saw that the Sinon transformer has been published!

However, when attempting to use it, it doesn't seem to do anything. I first tried just running the mocha/chai codemods first, but I saw the `Usage of package "sinon" might be incompatible with Jest; it's recommended the s

[2022-07-08 16:30] josh-degraw commented on #325
Upon investigation, it seems like the problem is that the transformer assumes all `sinon` imports are being imported from `sinon-sandbox`. I'll submit a PR to address this.

[2022-08-07 21:23] lzhou0 opened #345 "convert jasmine clock methods to jest"
Hi, I'm having trouble converting the following to jest. What is jest's equivalent for the clock() functions?

[code]

Any support on this is greatly appreciated!

[2022-08-08 18:06] danbeam commented on #325
@skovhus @josh-degraw I think we can close this issue now (after https://github.com/skovhus/jest-codemods/pull/326)?

[2022-08-08 18:07] #325 closed

[2022-08-08 18:13] danbeam commented on #227
@seansfkelley @skovhus i believe this was addressed in https://github.com/skovhus/jest-codemods/pull/244

[2022-08-08 19:52] #227 closed

[2022-08-16 21:57] danbeam commented on #68
@skovhus is this issue due an update now that there's a dedicated Sinon->Jest codemod in this repo?  cc @jordalgo (thanks for the great start!) and @catc

[2022-09-14 11:25] #241 closed

[2022-09-28 11:21] #138 closed